{% assign achievements = site.data.data.achievements %}
{% if achievements %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ achievements.title }}
  </h2>

  {% if achievements.intro %}
  <div class="intro">
      <p>{{ achievements.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for achievements in achievements.assignments %}
    <div class="item">

      <span class="project-title">
        <a href="{{ achievements.link }}">{{ achievements.title }}</a>
      </span>

      {% if achievements.tagline %}
      - <span class="project-tagline">{{ achievements.tagline }}</span>
      {% endif %}
      
      {% if achievements.details %}
      - <span class="project-details">{{ achievements.details }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
