{% assign projects1 = site.data.data.projects1 %}
{% if projects1 %}
<section class="section projects1-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects1.title }}
  </h2>

  {% if projects1.intro %}
  <div class="intro">
      <p>{{ projects1.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects1.assignments %}
    <div class="item">

      <span class="project-title">
        <a href="{{ project.link }}">{{ project.title }}</a>
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}
      
      {% if project.details %}
      - <span class="project-details">{{ project.details }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
